# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Local env variables
.env.local
.env.*.local

# CI/CD
codeship.aes

# next.js
/.next
/out
tsconfig.tsbuildinfo

# pwa - service worker
/public/sw.*
/public/workbox*

# misc
.idea
.vscode
.DS_Store
*.log*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
