{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "plugins": ["stylelint-performance-animation", "stylelint-prettier"],
  "rules": {
    "at-rule-allowed-list": [
      "at-root",
      "content",
      "each",
      "else",
      "error",
      "extend",
      "font-face",
      "for",
      "function",
      "if",
      "import",
      "include",
      "keyframes",
      "media",
      "mixin",
      "page",
      "return",
      "supports",
      "use",
      "warn",
      "apply",
      "tailwind"
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-same-name-blockless"],
        "ignore": ["after-comment", "first-nested"],
        "ignoreAtRules": ["else"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "at-root",
          "content",
          "each",
          "else",
          "error",
          "extend",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return",
          "supports",
          "use",
          "warn",
          "apply",
          "tailwind"
        ]
      }
    ],
    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "comment-empty-line-before": ["always", { "except": ["first-nested"], "ignore": ["stylelint-commands"] }],
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "custom-property-empty-line-before": [
      "always",
      {
        "except": ["after-custom-property", "first-nested"],
        "ignore": ["after-comment", "inside-single-line-block"]
      }
    ],
    "declaration-block-no-duplicate-properties": [true, { "ignore": ["consecutive-duplicates-with-different-values"] }],
    "declaration-block-no-redundant-longhand-properties": [true, { "ignoreShorthands": ["grid-template", "inset"] }],
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-empty-line-before": null,
    "font-family-no-duplicate-names": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-name-case": "lower",
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "media-feature-name-no-unknown": true,
    "named-grid-areas-no-invalid": true,
    "no-empty-source": true,
    "no-descending-specificity": null,
    "no-invalid-double-slash-comments": true,
    "value-keyword-case": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "plugin/no-low-performance-animation": [
      true,
      {
        "ignore": [
          "background",
          "background-color",
          "background-position",
          "border-color",
          "clip-path",
          "color",
          "fill",
          "stroke",
          "stroke-dashoffset"
        ]
      }
    ],
    "prettier/prettier": true,
    "property-no-unknown": [true, { "ignoreProperties": ["composes", "user-drag"] }],
    "rule-empty-line-before": ["always", { "ignore": ["first-nested"] }],
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global", "user-drag"] }],
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "property-no-vendor-prefix": [true, { "ignoreProperties": ["mask-position", "mask-size", "mask-image"] }]
  }
}
