@import 'shared';

.TestRail {
  background-color: $white;
  padding: px(20);

  .title,
  .link {
    display: inline-block;
    width: 50%;
  }

  .link {
    text-align: end;
  }

  .iframe {
    width: 100%;
    height: px(600);
    margin: px(20) 0;
  }
}
