@import '../../styles/shared.scss';

.RotateScreen {
  @include position-100(fixed);
  display: none;
  @include z-index(rotate);
  color: $white;
  background-color: $black;

  &.enabled {
    @include flex-center;
  }
}
