/* stylelint-disable */
@import 'shared';

:export {
  // layout
  layout-mobile: $layout-mobile;
  layout-tablet: $layout-tablet;
  layout-desktopSm: $layout-desktopSm;
  layout-desktopMd: $layout-desktopMd;
  layout-desktopLg: $layout-desktopLg;
  // color
  color-white: $white;
  color-black: $black;
}
