$layout: (
  mobile: 375,
  tablet: 768,
  desktop-sm: 1024,
  desktop-md: 1440,
  desktop-lg: 1920
);

/// Set breakpoint via media queries
/// @example scss Input
///   element {
///     [...phone styles....]
///     @include breakpoint(tablet) {
///        [...tablet+desktop styles...]
///     }
///   }
@mixin breakpoint($size) {
  @if map-get($layout, $size) {
    @media (min-width: #{map-get($layout, $size)}px) {
      @content;
    }
  } @else {
    @error 'Breakpoint not found: ' + $size;
  }
}

@mixin media-mobile() {
  @media (max-width: #{map-get($layout, tablet) - 1}px) {
    @content;
  }
}

@mixin media-tablet() {
  @include breakpoint(tablet) {
    @content;
  }
}

@mixin media-desktop-sm() {
  @include breakpoint(desktop-sm) {
    @content;
  }
}

@mixin media-desktop-md() {
  @include breakpoint(desktop-md) {
    @content;
  }
}

@mixin media-desktop-lg() {
  @include breakpoint(desktop-lg) {
    @content;
  }
}
