@use 'sass:map';

@import 'layout';

// Variables
// Add global variables here, color palette, those variables shared by components all applied to global styling

// ====================================================================
// Breakpoints
// Window breakpoints
// ====================================================================
$layout-mobile: map.get($layout, mobile) + px;
$layout-tablet: map.get($layout, tablet) + px;
$layout-desktop-sm: map.get($layout, desktop-sm) + px;
$layout-desktop-md: map.get($layout, desktop-md) + px;
$layout-desktop-lg: map.get($layout, desktop-lg) + px;

// ====================================================================
// Base palette
// Grayscale and brand colors for use across the site.
// ====================================================================
$white: #fff;
$black: #000;

// ====================================================================
// General
// Global color variables, used usually in sections
// Global variables used across the web app
// ====================================================================
$page-bg-color: $white;
$element-shadow: 0 16px 16px 0 rgb(0 0 0 / 4%);

// ====================================================================
// Nav bar
// ====================================================================
$navbar-height-mobile: px(60);
$navbar-height-desktop: px(80);

// ====================================================================
// List of z-index element
// ====================================================================
$elements: pages, main-nav, rotate;
