@import 'shared';

.root {
  display: flex;
  flex-direction: column;

  @if $supports-no-js != true {
    visibility: hidden;
    opacity: 0;
  }

  .content {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
  }
}
