@import 'shared';

// IMPORTANT: use safe styles here. avoid flex and other latest CSS as this page is intended to be shown in legacy browsers aka IE9/10/11

.root {
  position: relative;
  width: 100%;

  .title {
    @include typography-h1;
    padding-top: px(80);
  }
}
