import type { FC } from 'react'
import type { ControllerProps } from './Page{{name_pc}}.controller'

import { useMemo } from 'react'
import classNames from 'classnames'
import { gsap } from 'gsap'

import css from './Page{{name_pc}}.module.scss'

import { noop } from '@/utils/basic-functions'
import { copy } from '@/utils/copy'

import { useRefs } from '@/hooks/use-refs'
import { useTransitionPresence } from '@/hooks/use-transition-presence'

export interface ViewProps extends ControllerProps {}

export type ViewRefs = {
  root: HTMLElement
}

// View (pure and testable component, receives props exclusively from the controller)
export const View: FC<ViewProps> = ({ content }) => {
  const refs = useRefs<ViewRefs>()

  useTransitionPresence(
    useMemo(
      () => ({
        animateIn: () => gsap.timeline().add(noop, 0.701),
        animateOut: () => gsap.timeline().add(noop, 0.701)
      }),
      []
    )
  )

  return (
    <main className={classNames('Page{{name_pc}}', css.root)} ref={refs.root}>
      <h1 className={css.title} {...copy.html(content.body.title)} />
    </main>
  )
}

View.displayName = 'Page{{name_pc}}_View'
