{
    "severity": "warning",
    "extends": "stylelint-config-jam3",
    "rules": {
      "block-no-empty": null,
      "declaration-bang-space-before": null,
      "declaration-block-trailing-semicolon": "always",
      "value-list-comma-newline-after": null,
      "selector-type-no-unknown": null,
      "selector-type-case": null
    }
  }
