@import 'shared';

.CookieBanner {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: left;
  left: px(20);
  right: px(20);
  bottom: px(20);
  padding: px(20);
  color: $white;
  background: lighten($black, 15);

  @include media-tablet {
    right: initial;
  }

  button {
    border: 0;
    cursor: pointer;
    padding: px(10);
    color: currentColor;
    background: $black;
  }

  .base {
    .description {
      margin: 0 0 px(10);
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      button {
        width: 100%;

        &:not(:last-child) {
          margin: 0 0 px(10);
        }

        @include media-tablet {
          width: initial;

          &:not(:last-child) {
            margin: 0 px(10) 0 0;
          }
        }
      }
    }
  }

  .settings {
    padding: 0 px(60) 0 0;

    .close {
      position: absolute;
      right: px(10);
      top: px(10);
    }

    .description {
      margin: 0 0 px(10);
      max-width: px(400);
    }

    ul {
      li {
        display: flex;
        align-items: center;

        input {
          margin: 0 px(5) 0 0;
        }
      }
    }
  }
}
